.container{
     display: flex; 
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    border: 2px solid;
    height: 150px;
    width: 1500px;
    margin-left: 850px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 600px;
    font-size: 30px;
    padding: 20px;
}